<mat-toolbar class="toolbar-container">
  <span class="col1">
    <i class='fab fa-spotify fa-lg'></i>
    Spotify
  </span>
  <span class="mini-spacer">
    <span>Premium</span>
    <span>Help</span>
    <span>Download</span>
    <span>|</span>
    <span>
      <i class="fas fa-user-circle fa-lg"></i>
    </span>
  </span>
  <mat-accordion>
    <mat-expansion-panel class="dropdown">
      <mat-expansion-panel-header class="sp">
        <mat-panel-title>
          Profile
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="drop-container">
        <div>Account</div>
        <div>Logout</div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</mat-toolbar>